body {
  box-sizing: border-box;
  margin: 0;
  background: darkblue;
  height: 100vh;
  display: grid;
  place-items: center;
}
.main-container {
  height: 80vh;
  width: 50%;
  background: rgb(175, 252, 252);
  display: flex;
  flex-direction: column;
}

.title {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.title h1 {
  text-align: center;
  font-size: 1.2rem;
}

.display {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.ins {
  flex: 1;
  border: 1px solid green;
  margin: 0px 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.num {
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.current {
  font-size: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  background-color: red;
  padding: 1rem 3rem;
  border-radius: 20%;
}

.keyboard {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputN {
  height: 2rem;
}

.submit {
  width: 4rem;
  border-radius: 10px;
  font-size: 0.8rem;
}

.keys {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 15rem;
  flex-wrap: wrap;
  background: rgb(63, 58, 58);
}

button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0.2rem;
}

.uparrow {
  height: 80%;
  width: 100%;
  background: red;
  margin: 8px;
  clip-path: polygon(50%0, 100%50%, 65%50%, 65%100%, 35%100%, 35%50%, 0%50%);
}
.downarrow {
  height: 80%;
  width: 100%;
  background: red;
  margin: 8px;
  clip-path: polygon(50%0, 100%50%, 65%50%, 65%100%, 35%100%, 35%50%, 0%50%);
  transform: rotateZ(180deg);
}

@media screen and (max-width: 1300px) {
  .main-container {
    height: 80vh;
    width: 60%;
    background: rgb(175, 252, 252);
    display: flex;
    flex-direction: column;
  }
  .keys {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 10rem;
    flex-wrap: wrap;
  }
  .ins {
    flex: 1;
    border: 1px solid green;
    margin: 0px 1rem;
  }
  button {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 850px) {
  .main-container {
    height: 80vh;
    width: 60%;
    background: rgb(175, 252, 252);
    display: flex;
    flex-direction: column;
  }
  .keyboard {
    flex: 2;
  }
  .keys {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 6rem;
    flex-wrap: wrap;
  }
  .ins {
    flex: 1;
    border: 1px solid green;
    margin: 0px 1rem;
  }
  button {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 627px) {
  .main-container {
    height: 80vh;
    width: 70%;
    background: rgb(175, 252, 252);
    display: flex;
    flex-direction: column;
  }

  .keyboard {
    flex: 2;
  }
  .keys {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
  }
  .ins {
    flex: 1;
    border: 1px solid green;
    margin: 0px 0.5rem;
  }
  button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 380px) {
  .main-container {
    height: 80vh;
    width: 90%;
    background: rgb(175, 252, 252);
    display: flex;
    flex-direction: column;
  }
  .keyboard {
    flex: 2;
  }
  .keys {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .ins {
    flex: 1;
    border: 1px solid green;
    margin: 0px 0.5rem;
  }
  button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}
